<body style="background-color:#3B0B0B">
<div class="container" style="width:950px; height:550px; border:10px dotted blue; background-color: #D0FA58";>
<h2> <font color="#FA5858"> Ray of Hope Consultancy</font></h2>
&nbsp
&nbsp
&nbsp
&nbsp
                <font color="blue">Ray Of Hope Consultancy</font>
                various companies across verticals. <font color="blue">Ray Of Hope Consultancy</font> is based out of Bangalore &amp; 
                services clients across the country &amp; abroad. Since our inception we have been 
                in the business scenario with a mission of serving the companies with the speed 
                and quality that is required. It is a dream relished by our team of 
                professionals with varied experiences related to the service industry. Spurred 
                on by the experience and expertise in talent search and rehabilitation of human 
                resources, we have been providing the support to our esteemed clients to their 
                satisfaction. We strongly believe that quality is a process not an end result. 
                Therefore we have selected highly professional recruiters with strong technical 
                background. . They are with <font color="blue">Ray Of Hope Consultancy</font> Services not only because of their 
                experience and expertise, but also their desire to excel in the field of proper 
                deployment of resources. Thus it is the result of their knowledge and rich 
                experience, that we are able to find the right person at the right time and also 
                at the right price.<font color="blue">Ray Of Hope Consultancy</font> was founded in 2005.
</div>