<body style="background-color:#3B0B0B">
<div class="container" style="width:950px; height:550px; border:10px dotted blue; background-color: #D0FA58";>
<h2> <font color="#FA5858"> Ray of Hope Consultancy</font></h2>
<p><font color="Blue"> &nbsp Ray Of Hope Consultancy</font> is a Bangalore based recruitment company providing effective end to end recruitment solutions for organizations in India and abroad.</p>
<p style="text-align:right"><a href = "<%= about_path %>">Read more...</a></p>
<h2> <font color="#FA5858"> Vision</font></h2>
<p> &nbsp We believe in establishing long-term relationship with our customers by consistently delivering creative and value-adding solutions and services of high quality.</p>
<p style="text-align:right"><a href = "<%= about_path %>">Read more...</a></p>
<h2> <font color="#FA5858"> Clients </font></h2>
<p>&nbsp Recognizing, respecting and admiring the hard-earned expertise of client organizations and candidates, through courteous and professional relationships at all times.</p>
<p style="text-align:right"><a href = "<%= ourclients_path %>">Read more...</a></p>
<h2> <font color="#FA5858"> Services </font></h2>
<p>&nbsp We specialize in the recruitment and placement of specialists in the Information Technology area such as analysts, programmers, designers, administrators, Project,Leaders and Managers.</p>
<p style="text-align:right"><a href = "<%= services_path %>">Read more...</a></p>
</div> <!-- /container -->
</body>