<body style="background-color:#3B0B0B">
<div class="container" style="width:950px; height:550px; border:10px dotted blue; background-color: #D0FA58";>
<h2> <font color="#FA5858">Our Clients</font></h2>
<p>Please <a href="<%= contact_path %>">Contact Us</a> to know about our clients.</p>