<body style="background-color:#3B0B0B">
<div class="container" style="width:950px; height:550px; border:10px dotted blue; background-color: #D0FA58";>
<h2> <font color="#FA5858">Services</font></h2>
<p>
        We specialize in the recruitment and placement of specialists in the Information
        Technology area such as analysts, programmers, designers, administrators, Project
        Leaders and Managers. We provide a career matching service for IT professionals
        and potential employers by maintaining a talent repository of professionals in the
        IT area and continually updating the same.</p>
<p>
        We
        cater not only to the requirement of technical skills that our client requires of
        the candidate but cultural and attitudinal requisites as well. Selection, pre-screening
        and the value proposition: Assisted by an expert team of IT and industry professionals
        in the process, creative, keeping in line with its mission statement, conducts a
        preliminary pre-selection of the prospective IT employee, which consists of evaluation
        of technical skills as well as behavioral and attitudinal attributes. As part of
        our services in IT recruiting, we provide both intensive as well as extensive personality,
        communication and presentation skills enhancement programs for all IT professionals
        recruited through us, requiring these inputs in their assignments - especially geared
        for cross ethnic-cultural work environments.The skills which we focus on include
        :</p>
    <h4>
        Java:</h4>
    <p>
        JAVA, JSP, SERVLETS, JAVASCRIPT, J2EE, Ejb, LINUX, XML, UML, WEBLOGIC, WEBSPHERE,
        SWING, STRUTS, PL/SQL, LOTUS NOTES.. ETC.</p>
    <h4>
        Telecom / Networking:</h4>
    <p>
        SS7, VOIP, SIP MEGACO, MGCP IS41, CDMA, UDP, MOBILE APPLICATION, USER INTERFACE,
        KERNEL PROGRAMMING, SNMP/NMS/EMS, GSM, GPRS, PROTOCOL, EMS, VSAT, codecs.. ETC.</p>
    <h4>
        Embedded:</h4>
    <p>
        FPGA, XLINUX, FIRMWARE, RTOS, DIGITAL SIGNAL PROCESSING, RTL DEVELOPMENT, Device
        driver,BOARD DESIGN, VLSI VERIFICATION, VALIDATION DEVICE DRIVERS ETC. SYSTEM ADMIN
        :WINDOWS, UNIX(SOLARIES, AIX, HPUX),SERVER, LINUX, DESKTOP.. ETC.</p>
    <h4>
        Others:</h4>
    <p>
        DATA WARE HOUSING, SAP, .NET, TECHNICAL SUPPORT, BUSINEESS ANALYST, BUSINESS DEVELOPMENT,
        PRE-SALES MARKETING.. ETC.</p>
</div>